@media(max-width:430px){
 .bg-img{
    width: 114%;
    background-size: 195%;
 }
 .m-icon{
    width: 15%;   
 }
 .width-15{
    width:28%;
    padding-top:1%
 }
 .d-none{
    display: none;
 }
 .j-between{
    justify-content: flex-start;
 }
 .nav-button{
    display: none;
 }
 .div-title{
    width: 70%;
 }
 .m-div-title{
    font-size: 30px;
    font-weight: 600;
 }
 .div-p{
    width: 76%;
    font-size: 14px;
    font-weight: 600;
 }
 .m-width-40{
    width: 40%;
 }
 .f-size-25{
    font-size: 20px;
    font-weight: 500;
 }
 .container-1,.container-2,.container-3{
    border:none;
    width: 100%;
 }
 section{
    width:114%
 }
 .feat-m{
    font-size: 15px;
    font-weight: 500;
 }
 .div-search-box{
    display: none;
 }
 .m-b-5{
    margin-bottom: 10%;
 }
 .buttons-bar-1{
    font-size: 15px;
    font-weight: 600;
    width: 18%;
 }
 .buttons-bar{
    font-size: 15px;
    font-weight: 600;
 }
 #button-1{
    font-size: 20px;
    font-weight: 600;
 }
 .j-unset{
    justify-content: unset;
 }
 .flex-wrap{
    flex-wrap:wrap ;
 }
 .width-35{
    width:100%
 }
 .j-even{
    justify-content: space-evenly;
 }
 .m-width-100{
    width: 100%;
 }
 .m-b-3{
    margin-bottom: 3%;
 }
 .d-none{
    display: none;
 }
 .no-flex{
    display: block;
 }
 .bg-img-left{
    height: 223px;
    margin-bottom: 2%;
 }
 .bg-img-left-1{
    height: 223px;
    margin-bottom: 2%;
 }
 .bg-img-right{
    height: 223px;
    margin-bottom: 2%;
 }
 .bg-img-right-1{
    height: 223px;
    margin-bottom: 2%;
 }
 .h2-style{
    font-size: 25px;
    font-weight: 700;
 }
 .bg-img-1{
    height: 178px;
    width: 100%;
    background-image: url(../media/e69a13d80f2730b0cfcdede0f7d76c48b9ae298a.png);
    background-position: center;
    background-size: cover;
 }
 .text-card{
    font-size: 15px;
    font-weight: 400;
    color: #667085;
 }
 .m-width-49{
    width: 49%;
 }
 .m-team{
   margin-bottom: 3%;
    text-align: center;
 }
 .container-6{
   display: flex;
   flex-direction: column;
 }
 .first{
   order: 1;
 }
 .second{
   order: 2;
 }
 .img-card-1{
   display: none;
 }
 .text-card-1{
   width: 100%;
 }
}
.h2-title-2,.h2-title-3{
   width: 100%;
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 5%;
}
.m-p{
   color: #667085;
   font-size: 15px;
   font-weight: 400;
   width: 83%;
}
.p-t-5{
   padding-top: 5%;
}
.m-width-25{
   width: 31%;
   font-size: 15px;
   font-weight: 400;
}
 .m-container-7{
   display: flex;
   flex-direction: column;
 }
 .m-padding{
   padding: 5%;
 }