*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*global style*/
body{
    font-family: 'inter',sans-serif;
    font-weight: lighter;
}
/*containers*/
.container{
    width: 90%;
    margin: 0 auto;
}
.container-1{
     width: 90%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2% 1%;
    margin-top: 2%;
    padding-bottom: 2%;
}
.container-2{
     width: 90%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2% 2%;
    margin-top: 2%;
    padding-bottom: 2%;
}
.container-3{
     width: 90%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3% 2%;
    margin-top: 2%;
    padding-bottom: 2%;
}
.container-4{
     width: 90%;
    margin: 0 auto;
    padding: 3% 0%;
    margin-top: 2%;
    padding-bottom: 2%;
}
/*flex*/
.d-flex{
    display: flex;
}
.f-wrap{
    flex-wrap:wrap ;
}
/*padding*/
.padding{
    padding: 2%;
    
}
.padding-10-0{
    padding: 10% 0%;
}
.padding-5{
    padding: 5%;
}
.padding-1{
    padding: 1%;
}
.padding-3{
    padding: 3%;
}
.p-t-5{
    padding-top: 5%;
}
.p-t-1{
    padding-top: 1%;
}
.p-top-1{
    padding-top:1.2%;
}
.p-t-3{
    padding-top: 3%;
}
.p-t-l{
    padding-top: 1%;
    padding-left: 1%;
}
.p-t-9{
    padding-top: 9%;
}
.p-l-1{
    padding-left: 1%;
}
.p-b-1{
    padding-bottom: 1%;
}
.p-b-20{
    padding-bottom: 20%;
}

.p-b-5{
    padding-bottom: 5%;
}
.p-b-2{
    padding-bottom: 2%;
}
.p-b-40{
    padding: 40%;
}
.p-r-4{
    padding-right: 4%;
}
.p-b-3{
    padding-bottom: 3%;
}

/*text-transform*/
.t-capitalize{
    text-transform: capitalize;
}
.t-uppercase{
    text-transform: uppercase;
}
.t-decoration{
    text-decoration: none;
}
.b-none{
    border: none;
}
.b-radius{
    border-radius: 2%;
}
/*text color*/
.t-color-white{
    color: white;
}
.t-color-black{
    color: black;
}
.t-color-h-white{
    color:rgba(255,255,255,0.8);
}

/*text-direction*/
.justify-between{
    justify-content: space-between;
}
.justify-self{
    justify-self: center;
}
.justify-centre{
    justify-content: center;
}
.justify-s-around{
    justify-content: space-around;
}
.justify-s-evenly{
    justify-content: space-evenly;
}
.t-align-right{
    text-align: right;
}
/*margin*/
.m-r-5{
    margin-right: 5%;
}
.m-l-4{
    margin-left: 4%;
}
.m-l-1{
    margin-left: 1%;
}
.m-l-11{
    margin-left: 11%;
}
.m-r-3{
    margin-right: 3%;

}
.m-b-10{
    margin-bottom: 8%;
}
.m-t-b{
    margin: 5% 0%;
}
.m-b-2{
    margin-bottom: 2%;
}
.m-b-5{
    margin-bottom: 5%;
}
/*width*/
.width-16{
    width: 16%;
}
.width-8{
    width: 8%;
}
.width-32{
    width: 32%;
}
.width-30{
    width: 30%;
}
.width-15{
    width: 15%;
}
.width-25{
    width: 25%;
}
.width-23{
    width: 23%;
}
.width-65{
    width: 65%;
}
.width-49{
    width: 49%;
}
.width-45{
    width: 45%;
}
.width-40{
    width: 40%;
}
.width-50{
    width: 50%;
}
.width-55{
    width: 55%;
}
.width-35{
    width: 35%;
}
.width-37{
    width: 37%;
}
.width-80{
    width: 80%;
}
.width-92{
    width: 92%;
}
.width-100{
    width: 100%;
}
/*font size*/
.f-size-18{
    font-size: 18px;
}
.f-size-20{
    font-size: 20px;
}
.f-size-25{
    font-size: 25px;
}
.f-bold{
    font-weight: bold;
}
/*position*/
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.bg-dark{
    background-color: #101828;
}
.bg-white{
    background-color: white;
}
/*custom style*/
.bg-img{
    background-image: url(../media/photo_2025-08-13_19-55-11.jpg);
    background-repeat: no-repeat;
    background-size: 136%;
}
.nav-button{
    background-color: white;
    border: none;
    padding: 7% 2%;
    width: 95%;
    border-radius: 50px;
    font-size: 100%;
    font-weight: bold;
    text-transform: capitalize;
}
.div-title{
    padding-top: 15%;
    width: 50%;
    text-transform: capitalize;
    line-height: 1.3;
    color: white;
    font-size: 35px;
}
.div-p{
    width: 54%;
    color: white;
    padding-top: 2%;
    line-height: 1.3;
}
.nav-button-1{
   background-color: transparent;
    border: 2px solid white;
    padding: 7% 6%;
    width: 104%;
    border-radius: 50px;
    font-size: 100%;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}
.search-box{
    color: rgba(16, 24, 40, 0.38);
    border: none;
    background-color: transparent;
    padding-right: 3%;
}
.div-search-box{
   background-color: #f4f4f4;
    padding: 1%;
    border-radius: 999px;
    width: 22%; 
}
.buttons-bar-1{
    padding: 1.5%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    border:none;
    background:linear-gradient(to right,#101828,#233250);
    box-shadow: 5px 4px 10.9px rgba(0, 0, 0, 0.1);
    width: 12.5%;
    text-transform: capitalize;
}
.buttons-bar{
    padding: 1%;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
.b-view-more{
    border: none;
    background: none;
    font-size: 18px;
    text-transform: capitalize;
    padding-top: 3%;
    padding-right: 1%;
}
.right-card{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.bg-img-1{
    background-image: url(../media/Weestar_a_pale_colorful_gradient_Chupa_Chup_shaped_pet_house_by_bfa585dd-3006-42f7-b26f-5708d61a3b62.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius:2% 
}
.h2-style{
    text-transform: capitalize;
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.bg-img-left{
    background-image: url(../media/chomonwt_Asian_teenage_girl_with_small_dog_cuddling_laughing_fe_162bb75a-bb93-44b2-8cfa-bddcd35533fd\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius:2%; 
    height: 440px;
}
.bg-img-left-1{
    background-image: url(../media/image\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius:2%;
    height: 440px;
}
.bg-img-right{
    background-image: url(../media/image\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius:2% 
}
.bg-img-right-1{
    background-image: url(../media/image\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius:2% 
}
.text-card{
    width: 56.3%;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.3;
}
.img-card{
    width: 100%;
    height: 77%;
    border-radius: 2%;
}
.mini-img{
    width: 70%;
    border: 10px solid white;
    border-radius: 5px;  
}
.img-position{
    top: 65%;
    left: 57%;
}
.over-lay{
    background-color: rgba(0, 0, 0, 0.625);
    position: absolute;
    width: 95%;
    height: 99%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    display: none;
}
.over-lay-1{
    background-color: rgba(0, 0, 0, 0.625);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    display: none;
}
.h2-title-over-lay{
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}
.center-div-over-lay{
    text-align: center;
    padding: 22% 0% 8%;
    color: white;
    line-height: 1.4;
}
.m-l-30{
    margin-left: 30%;
}
.p-dis-1{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 2%;
}
.hover{
    width: 95%;
}
.hover:hover+ .over-lay{
    display: block;
    
}
.bg-img-left:hover .over-lay-1{
    display: block;
}
.bg-img-left:hover .h2-style{
    display: none;
}
.bg-img-left-1:hover .over-lay-1{
    display: block;
}
.bg-img-left-1:hover .h2-style{
    display: none;
}
.bg-img-right:hover .over-lay-1{
    display: block;
}
.bg-img-right:hover .h2-style{
    display: none;
}
.bg-img-right-1:hover .over-lay-1{
    display: block;
}
.bg-img-right-1:hover .h2-style{
    display: none;
}
.h2-price{
    color: white;
    font-size: 25px;
    font-weight: 500;
    width: 70%;
}
.center-div{
    text-align: center;
    padding: 22% 0%;
    color: white;
    line-height: 1.4;
}
.h2-title{
    font-size: 34px;
    font-weight: 700;
}
.h2-title-1{
    font-size: 30px;
    font-weight: 700;
}
.p-dis{
    font-size: 16px;
    font-weight: 400;
}
.over-lay-button{
    padding:4%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    background:linear-gradient(to right,#101828,#233250);
    box-shadow: 5px 4px 10.9px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}
.h2-name{
    padding: 5% 0% 2%;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.p-title{
    padding-bottom: 7%;
    font-size: 18px;
    font-weight: 400;
    color: #10182850;
    text-transform: capitalize;
}
.span-word{
    text-decoration: underline;
}
.text-card-1{
    width: 41%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}
.h2-title-2{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 10%;
}
.padding-t-b{
    padding: 4% 0% 6%;
}
.h2-title-3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 3%;
}
.img-card-1{
    width: 100%;
    height: 85%;
}
.over-lay-button-1{
    padding:3%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border:none;
    background:linear-gradient(to right,#101828,#233250);
    box-shadow: 5px 4px 10.9px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}
.input-style{
    padding: 7%;
    border-radius: 8px;
    border: solid 2px #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    width:100%;

}
.input-style-1{
    padding: 3%;
    border-radius: 8px;
    border: solid 2px #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}
.input-style-2{
    padding: 10%;
    border-radius: 8px;
    border: solid 2px #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}
.check-box{
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: solid 2px #D0D5DD;
    margin-right: 2%;
}
.send-message{
    padding:4%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    border:none;
    background:linear-gradient(to right,#101828,#233250);
    box-shadow: 5px 4px 10.9px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    width: 100%;
    color: white;
}
.t-color-gray{
    color: #667085;
}
.form-div{
    border-radius: 16px;
    text-transform: capitalize;
}
input::placeholder{
    color: #667085;
}
.h2-div{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.h4-div{
    color: #CECECE;
    font-size: 16px;
    font-weight: 400;
}
.h3-div{
    color:white;
    font-size: 16px;
    font-weight: 600;
}
.padding-10{
    padding: 16% 0% 0% 6%;
}
.padding-10-1{
    padding: 0% 0% 0% 6%;
}
.footer-icon{
    color:white;
}
.font-color{
    color: white;
    font-size: 24px;
}
.search-box-1{
    padding: 2%;
    border-radius: 8px;
    width: 60%;
    border: none;
}
.sub-box{
    padding: 2%;
    border-radius: 8px;
    border: none;
}
.footer-p{
    color: #CECECE;
    font-size: 20px;
    font-weight: 500;
    padding-top: 3%;
}
.footer-p-1{
    color: #CECECE;
    font-size: 16px;
    font-weight: 400;
    padding-top: 3%;
    width: 75%;
}
.h3-footer{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.ul-style-none{
    list-style: none;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.width-custom{
    width: calc(50% /5);
}
.width-38{
    width: 38%;
}